# SC Automation - ONE RUN

#### Notes:
###### 1. Merging is case-sensitive
###### 2. Find a way to merge df_Updates with keywords extracted for HSBC from Semrush
###### 3. There is a one time setting of the following things:
            - Changing the name of the search volume columns as - "Search Volume (MMM YYYY)"
            - Arranging the dataframes in a specific order of country-language permanently

In [1]:
# Import libraries 
import pandas as pd

In [2]:
# Excel File Paths
path_Main = "/Users/adap.anjali/Desktop/SC Affluent/Test Folder/Main v1.xlsx"
path_Updates = "/Users/adap.anjali/REFINED/all_worksheets_2022-03-25_1523.xlsx" # Combined new keyword sheets

## Importing dataframes

#### df_Main - Main document with all keywords (14 sheets)
Assume that the keywords for HSBC have already been the above dataframe 
#### df_Updates - Document with all the updates for search volume data

In [3]:
# Contains dictionary of dataframes
df_Main = pd.read_excel(path_Main, sheet_name= None) # None imports all of the sheets in an excel workbook
df_Updates = pd.read_excel(path_Updates, sheet_name= None)

In [4]:
# Getting the names of the dataframes as list to extract country and language
all = list(df_Main.keys())

In [5]:
country = []
lang = []

for i in range(len(all)):
    lang.append(all[i][-2:])

    if len(all[i]) == 7:
        country.append(all[i][:2])
    elif len(all[i]) == 8:
        country.append(all[i][:3])

## Formatting each sheet in the Main Document

In [7]:
# Putting all the sheets from the Main document into a list 

all_sheets = []
for name, sheet in df_Main.items(): # key, value in dictionary.items()
    all_sheets.append(sheet)

In [8]:
# 1. Renaming the keywords column
# 2. Changing all keywords to lower case 
# 3. Drop averages column (to be recalculated after appending latest column)
# 4. Setting the keywords column as index for merging

for i in range(len(all_sheets)):
    all_sheets[i].rename(columns= {'Actual Search Keywords':'Keywords'}, inplace= True)
    all_sheets[i]['Keywords'] = all_sheets[i]['Keywords'].str.lower()
    all_sheets[i] = all_sheets[i].drop(['Search Volume (Average)'], axis= 1) 
    all_sheets[i].set_index("Keywords", inplace= True)

## Formatting df_Updates

### Arrange all the sheets in same order for both new search volumes and main document

In [9]:
# Put new search volumes into a list 
all_Updates = []
for name, sheet in df_Updates.items():
    all_Updates.append(sheet)

In [10]:
# 1. Changing all the keywords to lower case 
# 2. Selecting only the keywords and the new search volumes 
# 3. Setting keywords as index 

for j in range(len(all_Updates)):
    all_Updates[j]['Keywords'] = all_Updates[j]['Keywords'].str.lower() # doesn't matter anyway because already lower case but still better for safety - NOT EXECUTING 
    all_Updates[j] = all_Updates[j].iloc[:, [0, 13]]
    all_Updates[j].set_index("Keywords", inplace= True)

In [11]:
# Insert country and language columns 

for i in range(len(all_sheets)):
    all_sheets[i]["Country"] = country[i]
    all_sheets[i]["Language"] = lang[i]

In [12]:
all_sheets[1].head()

,Bank,Segment,Bank Specific Name,Keywords Grouping,EN Translations,Search Volume (Jan 2019),Search Volume (Feb 2019),Search Volume (Mar 2019),Search Volume (Apr 2019),Search Volume (May 2019),...,Search Volume (Mar 2021),Search Volume (Apr 2021),Search Volume (May 2021),Search Volume (Jun 2021),Search Volume (Jul 2021),Search Volume (Aug 2021),Search Volume (Sep 2021),Search Volume (Oct 2021),Country,Language
Keywords,,,,,,,,,,,,,,,,,,,,,
中信銀行國際,CITIC,International Banking,International Banking,CITIC- International Banking,CITIC international,850,560,710,710,1230,...,2400,1900,4400,2900,3600,4400,4400,4140,HK,ZH
渣打優先理財,SC,Priority Banking,Priority,SC - Priority,standardchartered priority banking,0,810,360,360,340,...,590,590,480,590,1600,720,590,970,HK,ZH
中信國際,CITIC,International Banking,International Banking,CITIC- International Banking,CITIC international,2560,2080,2560,2400,2400,...,1600,1300,1600,1600,1000,1000,1000,1000,HK,ZH
中銀國際,BOC,International Banking,International Banking,BOC- International Banking,BOC international,750,230,1940,1220,710,...,880,590,590,720,720,880,1900,1170,HK,ZH
citigold要求,Citi,Priority Banking,Citigold,Citi - Citigold,citibank gold requirements,0,0,2290,0,0,...,880,720,880,1000,720,390,480,530,HK,ZH

## Merging df_Main and df_Updates

In [13]:
for i in range(len(all_Updates)):
    all_sheets[i] = all_sheets[i].join(all_Updates[i])

In [14]:
# Check to see if the dataframes are in the right order
for i in range(len(all_Updates)):
    print(all_sheets[i].shape)
    print(all_Updates[i].shape)

(307, 41)
(307, 1)
(308, 42)
(308, 1)
(501, 41)
(501, 1)
(277, 41)
(277, 1)
(281, 41)
(281, 1)
(230, 41)
(230, 1)
(295, 41)
(295, 1)
(405, 41)
(405, 1)

In [15]:
all_sheets[2].columns

Index(['Bank', 'Segment', 'Bank Specific Name', 'Keywords Grouping',
       'Search Volume (Jan 2019)', 'Search Volume (Feb 2019)',
       'Search Volume (Mar 2019)', 'Search Volume (Apr 2019)',
       'Search Volume (May 2019)', 'Search Volume (Jun 2019)',
       'Search Volume (Jul 2019)', 'Search Volume (Aug 2019)',
       'Search Volume (Sep 2019)', 'Search Volume (Oct 2019)',
       'Search Volume (Nov 2019)', 'Search Volume (Dec 2019)',
       'Search Volume (Jan 2020)', 'Search Volume (Feb 2020)',
       'Search Volume (Mar 2020)', 'Search Volume (Apr 2020)',
       'Search Volume (May 2020)', 'Search Volume (Jun 2020)',
       'Search Volume (Jul 2020)', 'Search Volume (Aug 2020)',
       'Search Volume (Sep 2020)', 'Search Volume (Oct 2020)',
       'Search Volume (Nov 2020)', 'Search Volume (Dec 2020)',
       'Search Volume (Jan 2021)', 'Search Volume (Feb 2021)',
       'Search Volume (Mar 2021)', 'Search Volume (Apr 2021)',
       'Search Volume (May 2021)', 'Search Volume (Jun 2021)',
       'Search Volume (Jul 2021)', 'Search Volume (Aug 2021)',
       'Search Volume (Sep 2021)', 'Search Volume (Oct 2021)', 'Country',
       'Language', 'Search Volume (Feb 2022)'],
      dtype='object')

In [16]:
all_sheets[1].columns # Chinese list of keywords with a translations column

Index(['Bank', 'Segment', 'Bank Specific Name', 'Keywords Grouping',
       'EN Translations', 'Search Volume (Jan 2019)',
       'Search Volume (Feb 2019)', 'Search Volume (Mar 2019)',
       'Search Volume (Apr 2019)', 'Search Volume (May 2019)',
       'Search Volume (Jun 2019)', 'Search Volume (Jul 2019)',
       'Search Volume (Aug 2019)', 'Search Volume (Sep 2019)',
       'Search Volume (Oct 2019)', 'Search Volume (Nov 2019)',
       'Search Volume (Dec 2019)', 'Search Volume (Jan 2020)',
       'Search Volume (Feb 2020)', 'Search Volume (Mar 2020)',
       'Search Volume (Apr 2020)', 'Search Volume (May 2020)',
       'Search Volume (Jun 2020)', 'Search Volume (Jul 2020)',
       'Search Volume (Aug 2020)', 'Search Volume (Sep 2020)',
       'Search Volume (Oct 2020)', 'Search Volume (Nov 2020)',
       'Search Volume (Dec 2020)', 'Search Volume (Jan 2021)',
       'Search Volume (Feb 2021)', 'Search Volume (Mar 2021)',
       'Search Volume (Apr 2021)', 'Search Volume (May 2021)',
       'Search Volume (Jun 2021)', 'Search Volume (Jul 2021)',
       'Search Volume (Aug 2021)', 'Search Volume (Sep 2021)',
       'Search Volume (Oct 2021)', 'Country', 'Language',
       'Search Volume (Feb 2022)'],
      dtype='object')

In [17]:
# Reset index 
for i in range(len(all_sheets)):
    all_sheets[i].reset_index(inplace= True)

    if "EN Translations" in all_sheets[i].columns:
        all_sheets[i] = pd.melt(all_sheets[i], id_vars= ["Bank","Segment","Bank Specific Name", "Keywords Grouping","Keywords", "EN Translations", "Country", "Language"])
    else: 
        all_sheets[i] = pd.melt(all_sheets[i], id_vars= ["Bank","Segment","Bank Specific Name", "Keywords Grouping","Keywords", "Country", "Language"])
    
    all_sheets[i].rename(columns= {"variable":"Month", "value":"Search Volume"}, inplace= True)
    all_sheets[i]["Month"] = all_sheets[i]["Month"].str[15:23]

## Save output

In [20]:
writer = pd.ExcelWriter('output.xlsx')
for i, df in enumerate(all_sheets, 1):
    # python 3.6+
    df.to_excel(writer, index= False, sheet_name= f'sheetName_{i}')
writer.save()